TAILHOME_HOSTNAME=tailhome
TAILHOME_TIMEZONE=UTC
TAILHOME_GRAFANA_USER=admin
TAILHOME_GRAFANA_PASSWORD=change-me
TAILHOME_PIHOLE_PASSWORD=change-me
TAILHOME_HOMEPAGE_PORT=3000
TAILHOME_GRAFANA_PORT=3001
TAILHOME_UPTIME_PORT=3002
TAILHOME_CADDY_HTTP_PORT=8088
TAILHOME_CADDY_HTTPS_PORT=8443
TAILHOME_PROMETHEUS_PORT=9090
TAILHOME_NODE_EXPORTER_PORT=9100
TAILHOME_PORTAINER_PORT=9443
TAILHOME_PIHOLE_WEB_PORT=8080
